@model CustomerViewModel

<h1>Add new customer</h1>

<form asp-action="AddCustomer" autocomplete="off">
	<input type="hidden" asp-for="customer.CustomerID" />
	<input type="hidden" asp-for="customer.Loans" />

	<div>
		<p>
			<label asp-for="customer.CustomerName" class="control-label"></label>
			<input asp-for="customer.CustomerName" class="form-control" />
		</p>
	</div>
	<div>
		<p>
			<label asp-for="customer.CustomerEmail" class="control-label"></label>
			<input asp-for="customer.CustomerEmail" class="form-control" />
		</p>
	</div>
	<div>
		<p>
			<label asp-for="customer.CustomerPhone" class="control-label"></label>
			<input asp-for="customer.CustomerPhone" class="form-control" />
		</p>
	</div>

	<div>
		<input type="submit" value="Submit" class="btn btn-primary w-100" />
	</div>
	<div>
		<a asp-action="Index" class="btn btn-secondary w-100">View All Customers</a>
	</div>
</form>